
/*EIXO
justify-content: controla o alinhamento ao longo do eixo principal do contêiner.
align-items: controla o alinhamento ao longo do eixo secundário do contêiner, quando aplicável.
text-center: é usado para alinhar o texto dentro de um elemento específico no centro horizontal.
 */

*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
button:hover{
    transform: scale(1.1);
}

/*HEADER*/
nav{
    border-radius: 10px;
}



/*FOOTER*/
.imgformas{
    margin: 5px;
}

#footerid{
    flex-shrink: 0;
}
footer{
    width: 100vh;
    height: auto;
    margin-right: 20px;
}

.row{
    margin-left: 10%;
}
#footerid{
    flex-shrink: 0;
}
footer{
    width: auto;
    margin-right: 20px;
}

.row{
    margin-left: 10%;
}
footer h4{
    font-size: 200%;
}
footer p{
    font-size: 100%;
}

footer img{
    width: 12%;
    height: 12%;
}
#fonecor{
    width: 80%;
    height: 80%;
}

.preco-formatado{
    color: #00C2FF;
}
.preco-antigo{
    text-decoration: line-through;
}

/* RESPONSIVIDADE - Celular */
@media (max-width: 768px) {
    *{
        width: auto;
        height: auto;
    }

   

/*
    #footerid {
        width: 100vh;
        height: auto;
        display: flex;

            
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
    #footerid img{
        width: 3vh;
        height: 3vh;
    }
    #footerid h4{
        font-size: smaller;
    }
    */
}